/* Media Quary  */

@media(max-width:576px){

    .navbar .navbar-brand img{
        width: 70%;
        height: 70%;
    }
    .carousel .slider-1 .caption .h1{
        font-size: 3rem;
        font-weight: 300;
    }
    .carousel .slider-1 .caption .h2{
        font-size: 3rem;
        font-weight: 100;
    }
    .carousel .slider-2 .caption .h1{
        font-size: 3rem;
        font-weight: 300;
    }
    .carousel .slider-2 .caption .h2{
        font-size: 3rem;
        font-weight: 100;
    }
    .carousel .slider-1 .caption p{
        font-size: 1rem;
        font-weight: 100;
    }
    .carousel .slider-2 .caption p{
        font-size: 1rem;
        font-weight: 100;
    }
    .carousel .slider-1 .caption h3{
        font-size: 1rem;
        font-weight: 100;
    }
    .carousel .slider-2 .caption h3{
        font-size: 1rem;
        font-weight: 100;
    }
    .carousel .slider-1 .caption .btn1{
        border-radius: 50px;
        background-color: var(--main-color);
        color: white;
        border: none;
        height: 35px;
        padding: 10px;
        font-size: 12px;
        width: 120px;
    }
    .carousel .slider-1 .caption .btn2{
        border-radius: 50px;
        background-color: var(--font-color);
        color: white;
        border: none;
        height: 35px;
        padding: 10px;
        font-size: 12px;
        width: 150px;
    }

    .carousel .slider-2 .caption .btn1{
        border-radius: 50px;
        background-color: var(--main-color);
        color: white;
        border: none;
        height: 35px;
        padding: 10px;
        font-size: 12px;
        width: 120px;
    }
    .carousel .slider-2 .caption .btn2{
        border-radius: 50px;
        background-color: var(--font-color);
        color: white;
        border: none;
        height: 35px;
        padding: 10px;
        font-size: 12px;
        width: 150px;
    }
}
@media(max-width:768px){
    .navbar .navbar-brand img{
        width: 85%;
        height: 85%;
    }
    .carousel .caption .h1{
        font-size: 20px;
    }
    .container .caption p{
        width: 100%;
        font-size: 10px;
    }
    .container .caption{
        margin-top: -100px;
    }
    .good-news .inner-box p{
        width: 100%;
        
    }.good-news .inner-box .input{
        width: 100%;
        margin-bottom: 10px;
    }
    .good-news .inner-box .btn{
        width: 100%;
        margin-bottom: 20px;
    }

    .services .card-2{
        border: none;
    }
}

@media(max-width:1200px){
    .img-box .box-4 .box-1-1{
        height: 5.98rem;
    }
}